sudo: false
language: node_js
node_js:
  - "6"
  - "8"
  - "9"
script:
  - npm run lint
  - npm run lint-test
  - npm run test-travis
after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"
